<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <h2 th:inline="text">Session ID: [[${#httpServletRequest.getRequestedSessionId()}]]</h2>
        
        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>

        <div th:if="${beans.containsKey('hazelcastInstance')}">
            <hr/>
            <div style="color:blue">
                <p th:text="'Cluster member ' + ${@hazelcastInstance}"/>
            </div>
            <hr/>
        </div>
        <div th:unless="${beans.containsKey('hazelcastInstance')}">
            <hr/>
            <div style="color:red">
                <p>No Hazelcast @Bean</p>
            </div>
            <hr/>
        </div>
    </body>
</html>